@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Typopgrahy */
  --font-sans: 'Jura', sans-serif;
  --font-serif: 'Prata', serif;
  --font-mono: 'JetBrains Mono', monospace;

  /* Colors */
  --color-light: oklch(0.985 0 0);
  --color-dark: oklch(0.141 0.005 285.823);
  --color-primary: oklch(56.13% 0.2417 261.86);
  --color-primary-dark: oklch(89.6% 0.152531 196.844);
  --color-selection-text: var(--color-light);

  /* Syntax Highlighting */
  --sh-class: oklch(0.75 0.12 74.86);
  --sh-identifier: oklch(0.84 0.02 245.68);
  --sh-sign: oklch(0.66 0.02 243.97);
  --sh-property: oklch(0.81 0.12 174);
  --sh-entity: oklch(0.67 0.16 295.61);
  --sh-jsxliterals: oklch(0.84 0.02 245.68);
  --sh-string: oklch(0.7 0 301.39);
  --sh-keyword: oklch(0.67 0.21 311.15);
  --sh-comment: oklch(0.58 0.11 152.52);
}

@layer base {
  ::selection {
    background-color: var(--color-primary);
    color: var(--color-selection-text);
  }
  html {
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-light);
    .dark & {
      background-color: var(--color-dark);
      --color-primary: var(--color-primary-dark);
      --color-selection-text: oklch(0.141 0.005 285.823);
    }
  }
}

@layer components {
  .dark {
    .mdx-content {
      --sh-property: oklch(0.77 0.11 202.26);
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Custom class for pages that should hide scrollbars */
  .overflow-hidden {
    overflow: hidden !important;
    /* Optional: prevent content shift when scrollbars are hidden */
    padding-right: 0 !important;
  }
}
