@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Typopgrahy */
  --font-sans: 'Jura', sans-serif;
  --font-serif: 'Prata', serif;
  --font-mono: 'JetBrains Mono', monospace;

  /* Colors */
  --color-light: oklch(0.985 0 0);
  --color-dark: oklch(0.141 0.005 285.823);
  --color-primary: oklch(56.13% 0.2417 261.86);
  --color-primary-dark: oklch(89.6% 0.152531 196.844);
  --color-selection-text: var(--color-light);

  /* Syntax Highlighting */
  --sh-class: oklch(0.48 0.11 255.81);
  --sh-identifier: oklch(0.57 0.04 252.45);
  --sh-sign: oklch(0.67 0.02 248.19);
  --sh-property: oklch(0.45 0.16 258.18);
  --sh-entity: oklch(0.62 0.1 192.31);
  --sh-jsxliterals: oklch(0.56 0.16 278.23);
  --sh-string: oklch(0.66 0.12 183.82);
  --sh-keyword: oklch(0.7 0.16 26.07);
  --sh-comment: oklch(0.68 0.01 17.51);
}

@layer base {
  ::selection {
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  html {
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-light);
    .dark & {
      background-color: var(--color-dark);
      --color-primary: var(--color-primary-dark);
      --color-selection-text: var(--color-dark);
    }
  }
}

@layer components {
  .dark {
    .mdx-content {
      --sh-property: oklch(0.64 0.22 8.3);
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
